@*OFFCANVAS GESTIONE PAGINA*@
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasManagePizza" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrello</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container d-flex justify-content-around">
            <div class="col-8">
                <ol class="btn-outline-danger ">
                    <li class="lh-lg">Margherita 10€</li>
                    <li class="lh-lg">Napoli 11€</li>
                    <li class="lh-lg">Marinara 9€</li>
                    <li class="lh-lg">Calzone Classico 12€</li>
                    <li class="lh-lg">Capricciosa 10€</li>
                    <li class="lh-lg">TOT:&nbsp;32€</li>
                </ol>
            </div>
            <div class="col-4">
                <ul class="list-unstyled lh-3">

                    <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                    <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                    <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                    <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                    <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>

                </ul>
            </div>
        </div>
    </div>
</div>
