@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="container text-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>QUI NON CI SONO PIZZE!</h1>
</div>



