@*OFFCANVAS GESTIONE PAGINA*@
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasManagePizza" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Gestione</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Gestisci la tua pagina:
        </div>
        <div class="d-grid my-3 gap-1">
            <a href="@Url.Action("Create","Pizza")">
                <button class="btn btn-success" type="button">Aggiungi Pizza</button>
            </a>
          
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Utente
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Account</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
                <li><a class="dropdown-item" href="@Url.Action("UserIndex","Home")">Il Tuo Negozio online</a></li>
                <li><a class="dropdown-item" href="#">Impostazioni Avanzate</a></li>
            </ul>
        </div>
    </div>
</div>

